<div class="mp-header" *ngIf="headerEnabled">
  <div class="mp-row">
    <div
      class="mp-cell"
      *ngFor="let column of columns"
      [style.width]="column.size"
    >{{ column.displayName }}</div>
  </div>
</div>

<div class="no-items" *ngIf="!(items || []).length">
  {{ noItemsMessage }}
</div>

<div class="rows">

  <div *virtualFor="let visibleItems of items">
    <div class="mp-row"
      *ngFor="let item of visibleItems | async"
      (click)="selectItem(item)"
      [class.mp-row-marked]="itemsEqualityFn(item, markedItem)"
      [class.mp-row-highlighted]="itemsEqualityFn(item, cursorItem)"
      [class.mp-row-selected]="selectedItems.has(item)"
    >
      <template
        [ngTemplateOutlet]="template"
        [ngOutletContext]="{
          item: item,
          columns: columns
        }"
      ></template>
    </div>
  </div>
</div>
