:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header, .rows {
    width: 100%;
    border-spacing: 0;
    .mp-row {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
  .header .mp-row {
    z-index: 1;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
  .rows {
    overflow-y: auto;
    flex-grow: 1;
  }
  .no-items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 100;
    opacity: 0.5;
    padding: 10px;
  }
}
