@mixin colorize-theme(
  $primary-color,
  $secondary-color,
  $tertiary-color
) {
  .mp-primary {
    background: $primary-color;
  }

  .mp-darken {
    background: darken($primary-color, 5%);
  }

  .mp-secondary {
    background: $secondary-color;
  }

  .mp-panel {
    background: linear-gradient(to left bottom, $primary-color, lighten($primary-color, 20%));
  }

  .mp-secondary-panel {
    background: linear-gradient(to left bottom, darken($primary-color, 5%), lighten($primary-color, 5%));
  }

  .mp-row-selected {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .mp-row-highlighted, .mp-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .mp-header-cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .mp-row-marked {
    color: $tertiary-color;
    font-weight: bold;
  }

  .mp-tab {
    background: darken($primary-color, 5%);
    &:hover {
      background: darken($primary-color, 3%);
    }
  }

  button, .mp-button {
    background: $primary-color;
    &:hover {
      background: darken($primary-color, 10%);
    }
  }

  ::-webkit-scrollbar-thumb {
    background: lighten($primary-color, 20%);
  }

  ::-webkit-scrollbar {
    background: transparent;
  }

  mp-track-indicator {
    background: $primary-color;
    .level {
      background: darken($primary-color, 10%);
    }
  }

  mp-volume-control {
    background: desaturate(lighten($primary-color, 10%), 30%);
    .level {
      background: $primary-color;
    }
  }

  mp-context-menu .menu:after {
    border-color: $primary-color;
  }
}
