html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: white;
}

.mp-button {
  padding: 7px 10px;
  margin-left: 10px;
  cursor: pointer;
  &:not(:last-child) {
    padding: 7px 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}

input {
  padding: 10px 15px;
  border-width: 0 0 2px 0px;
  width: 100%;
  outline: none;
  color: white;
  box-sizing: border-box;
  background: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-input-placeholder {
 color: white;
}

.mp-cell {
  padding: 7px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mp-row {
  padding: 0 10px;
  border-color: rgba(255, 255, 255, 0.12);
  &:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
}
