<div class="menu-item">
  <i class="material-icons">search</i>
  Search
</div>

<div class="menu-item">
  <i class="material-icons">thumb_up</i>
  Feed
</div>

<div class="menu-item">
  <i class="material-icons">playlist_play</i>
  Playlists
</div>

<div class="menu-item">
  <i class="material-icons">library_music</i>
  Library
</div>

<div class="menu-item">
  <i class="material-icons">font_download</i>
  Lyrics
</div>

<div class="menu-item">
  <i class="material-icons">info</i>
  Song Info
</div>
