:host {
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 10;
  max-height: 50%;
  overflow: auto;
  .notification {
    padding: 10px;
    margin-bottom: 10px;
    min-width: 250px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    .type {
      font-size: 35px;
      margin-right: 5px;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      &.info {
        color: #51abb9;
        &:before {
          content: 'info';
        }
      }
      &.error {
        color: red;
        &:before {
          content: 'close';
        }
      }
      &.success {
        color: #32cc32;
        &:before {
          content: 'done';
        }
      }
      &.warn {
        color: orange;
        &:before {
          content: 'warning';
        }
      }
    }
  }
}
