<div class="mp-header" *ngIf="headerEnabled">
  <div class="mp-row">
    <div
      class="mp-header-cell"
      *ngFor="let column of columns"
      [style.width]="column.size"
      (click)="itemsManager.sort(column)"
    >
      {{ column.displayName }}
      <i
        class="material-icons sorted {{ itemsManager.sortOrder }}"
        *ngIf="column === itemsManager.sortedBy"
      >{{ sortIcon }}</i>
    </div>
  </div>
</div>

<div class="no-items" *ngIf="!(items || []).length">
  {{ noItemsMessage }}
</div>

<div class="rows">
  <div *virtualFor="let visibleItems of itemsManager.filteredItems$ | async">
    <div class="mp-row"
      *ngFor="let item of visibleItems | async"
      (click)="selectSingleItem(item, $event)"
      [class.mp-row-marked]="itemsEqualityFn(item, markedItem)"
      [class.mp-row-highlighted]="itemsEqualityFn(item, navigation.focusedItem)"
      [class.mp-row-selected]="navigation.selectedItems.has(item)"
    >
      <ng-template
        [ngTemplateOutlet]="template"
        [ngOutletContext]="{
          item: item,
          columns: columns
        }"
      ></ng-template>
    </div>
  </div>
</div>
